body {
	background-color:#FFF;	
}

.group:before,
.group:after{
	display: block;
	content:'';
	clear:both;
}

@media (max-width:940px) and (min-width:768px){
	.containertest{
		width: 940px;
		margin:auto;
	}
	.asidetest {
		width: 20%;
		background-color:green;
		float:left;
	}
	.contenttest {
		width: 70%;
		float:left;
	}
	.banner {
		width: 10%;
		background-color:red;
		float:left;
	}
	.contentmargin{
		margin-left: 10px;
		margin-right: 10px;
		background-color:blue;
	}
}

@media (min-width:940px){
	
	.container{
		width: 940px;
		margin:auto;
	}
	.aside {
		width: 20%;
		background-color:green;
		float:left;
	}
	.guster {
		width: 20px;
		background-color:blue;
	}
	.content {
		width: 80%;
		background-color:red;
		float:left;
	}
}

footer{
	height:40px;
	background-color:#888;
}

